{% extends 'base.html.twig' %}

{% block body %}

    {#{%if not passwordMatch %}#}
        {#waarde: {{dump(passwordMatch) }}#}
    {#{% endif %}#}

<div class="container header-fix">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ title }}</h1>

            {{ form_start(form,{'attr': {'novalidate':'novalidate'}}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">{{ action }}</button>

            {{ form_end(form) }}

        </div>
    </div>
</div>
    <div class="container-fluid">
        password:{{ wachtwoord }}
    </div>
    {{ dump(wachtwoord) }}
{%  endblock body %}