{%  extends 'base.html.twig' %}


{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Training Factory</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{path('traininglist')}}">training</a></li>
            <li class="active"><a href="{{path('list_les')}}">lessen</a></li>
            <li><a href="{{ path('list_trainer') }}">trainers</a></li>
        </ul>
        {% if not user == null %}
            <div class="nav navbar-right user-detail">
                <span class="user">
                    welkom, {{ user.username }} <button class="bnt"><a href="{{ path('logout') }}">uitloggen</a></button>
                </span>
            </div>
        {% endif %}
    </div>
</nav>
    <div class="container-fluid training-box">

        {%  for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>

        {%  endfor %}

        {%  for msg in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>

        {% endfor %}

        <div class="row meta-data">
            <div class="col-sm-1">
                ID
            </div>
            <div class="col-sm-1">
                Instructeur
            </div>
            <div class="col-sm-1">
                time
            </div>
            <div class="col-sm-2">
                Date
            </div>
            <div class="col-sm-2">
                Location
            </div>
            <div class="col-sm-2">
                Max Persons
            </div>
            <div class="col-sm-2">
                Training
            </div>
            <div class="col-sm-1">
                options
            </div>
        </div>
        {% for les in lessen %}
            <div class="row">
                <div class="col-sm-1">
                    {{ les.id }}
                </div>
                <div class="col-sm-1">
                    {{les.instructor.LoginName}}
                </div>
                <div class="col-sm-1">
                    {{ les.time }}
                </div>
                <div class="col-sm-2">
                    {{ les.date|date("d-m-Y") }}
                </div>
                <div class="col-sm-2">
                    {{les.location}}
                </div>
                <div class="col-sm-2">
                    {{les.maxPersons}} persons
                </div>
                <div class="col-sm-2">
                    {{les.training.name}}
                </div>
                <div class="col-sm-1">
                    <span>
                        <a title="Edit" href="{{ path('update_les',{id:les.id}) }}"><i class="fas fa-pen"></i></a>
                    </span>
                    <span>
                       <a  title="Delete" href="{{ path('delete_les',{id:les.id}) }}"> <i class="fas fa-trash-alt"></i></a>
                    </span>
                </div>
            </div>

        {% endfor %}
        <div class="add-button">
            <button class="btn btn-primary">
                <a href="{{path('add_les')}}"><i class="fas fa-plus"></i> voeg les toe</a>
            </button>
        </div>
    </div>


{% endblock %}


{% block stylesheets %}
    <style>

        .user-detail{
            padding: 15px;
        }

        .user{
            color: white;
        }

        .training-box{
            margin-top:8rem;
        }

        .meta-data{
            font-weight: 900;
            font-size: 16px;
            border-bottom: #3c3c3c 1px solid;
            margin-bottom: 0.5rem;
        }

        span{
            margin-right: 0.5rem;
        }

        .add-button {
            margin-top:2rem;
        }
        .add-button a {
            color:white;
            text-decoration: none;
        }

    </style>
{% endblock %}
